@media (max-width:1240px) {
 
   

    section{
        flex-direction: column;
    }

    #menu-left{
        /*flex-grow: 1;*/
        margin-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex: 1 1 193px;
    }

    #menu-right{

        width: 100%
        }

    .div-noticias{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
       width: 100%;
    }

    .materias-rigth{
        margin-left: 0;
    }

    .noticias-rigth{
        margin: 15px;
        flex: 1 1 220px;
    }
    

 }

 @media (max-width:910px){
    .img-miniaturas-rigth{
        /*ESSA CONFIGURAÇÃO PERMITE CRIAR IMG RESPONSIVEIS SE ADPTANDO NA ALTURA E LARGURA*/
        width: 100%;  
        height: auto;
        
    }
 }


@media (max-width:700px) {
    .div-noticias::after{
        content: " ";
        width:0px;
        position: relative;        
    }

    .noticias-rigth{
        border-bottom: 1px solid  #E5E5E5;
        margin-bottom: 10px;
        
    }

    .noticias-left{
        border-bottom: 1px solid  #E5E5E5;
    
    }
    .noticias-rigth{
    margin-left: 0;
    }
    
    .link-receitas{
        display: none;
    }
    .link-quem{ 
        display: none;
    }
    .link-gshow{
       
        display: none;
    }
    .link-dropz{
        display: none;
    }

   .logo-mobile{
       display: block;
       margin: 10px;;
   }
   .link-cartola{
       display: none;
   }

   .logo{
       display: none;
   }

   
}




@media (max-width:375px) {

    .noticias-rigth{
        margin-bottom: 10px;
    }
    .txt-ajuste{
        display: flex;
    }
    .img-miniaturas-left{
        width: 120px;
        height: 67.37px;
    }

    .img-miniaturas-rigth{
        width: 120px;
        height: 67.37px;
    }
  
    
  

   .titulo-materia-principal{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.028em;
    text-align: left;
    }

.titulo-materia-secundaria{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.068em;
    text-align: left;
    color: #CD150B;
    }

    .title-black-bold{
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.045em;
        text-align: left;
        color: #CD150B;
        
        }

        .verde1{
            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: -0.045em;
            text-align: left;
            color: green;
            
            }

        .verde2{
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: -0.048em;
            text-align: left;
            color: #06AA48;
        }
    
        .title-black-normal{
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: -0.048em;
            text-align: left;
            color: #CD150B;
    }
   

    .title-green{
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.045em;
        text-align: left;
        color:#06AA48;

        }
    
        .title-orange{
            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: -0.045em;
            text-align: left;
            color: #FF8203;

            }

        .orange1{
           
        color:#FF8203;
        }

        .orange2{
            color:#FF8203;
        }

        .noticias-rigth{
            margin: 0px;
           
        }

        
        

        .title-red, .title-orange{
            display: none;
        }

}

 
